<section class="items">
 <header class="items.header py-2">
  <h4 class="items.title text-center font-bold">
   Nós estamos aqui para ajudar.
  </h4>
 </header>
 <!-- <input
    class="items.search w-full my-2"
    placeholder="Faça uma pergunta..."
    type="search"
  /> -->
 <section class="py-2 px-2">
  <header class="items.header py-2">
   <h5 class="items.smalltitle text-center font-bold">
    Perguntas frequentes
   </h5>
  </header>
  <app-accordion id="hq1">
   <span class="title">
    Quem é a Fiber
   </span>
   <span class="text">
    A FiberCash é uma fintech de São Paulo com sede no Jardim Paulistano
    idealizada por sócios que pensam como você e acreditam que o cliente esta em
    primeiro lugar, e que o crédito deve ser justo e acessível a todos.
    <br /><br />
    Por isso garantimos que trabalhamos com a menor taxa do mercado! Simule e
    confira assim como mais de 70 mil clientes ja fizeram!
   </span>
  </app-accordion>
  <app-accordion id="hq2">
   <span class="title">
    A FiberCash é segura?
   </span>
   <span class="text">
    Sim, é extremamente segura! <br /><br />

    Utilizamos todos os protocolos de segurança e criptografia em todas as
    nossas operações e banco de dados, o que nos permite ter a certeza de que
    seu cartão de credito esta blindado conosco.
    <br /><br />
    Alem disso, priorizando ainda mais sua segurança e privacidade, já operamos
    de acordo com a Lei Geral de Proteção de Dados, Lei nº 13.709, de 14 de
    agosto de 2018, que foi adiada e entrará em vigor a partir de agosto de
    2021.
    <br /><br />
    Seria fácil responder essa pergunta se pudéssemos deixar nossos mais de 70
    mil clientes falar por nos, mas como não ha espaço suficiente para isso
    queremos que você tenha a certeza que aqui você é a nossa prioridade!
   </span>
  </app-accordion>
  <app-accordion id="hq3">
   <span class="title">
    Como funciona a FiberCash?
   </span>
   <span class="text">
    Somos uma plataforma de saque de limite do seu cartão de credito, onde você
    pode sacar esse valor e pagar em até 12x!
    <br /><br />
    O processo é simples, você nos informa quanto quer sacar do seu cartão de
    credito e em quantas parcelas quer pagar, cadastra-se em nosso site e efetua
    o processo. Após aprovado em 1 dia util você tem esse valor creditado na sua
    conta bancaria. Simples assim!
   </span>
  </app-accordion>
  <app-accordion id="hq4">
   <span class="title">
    O que eu preciso para usar a FiberCash?
   </span>
   <span class="text">
    Você so precisa ter um cartão de credito com limite e uma conta bancaria
    para receber o valor do seu saque em até 1 dia util.
    <br /><br />
    Como eu recebo o valor solicitado? Basta você simular e solicitar o saque,
    que após aprovado, você ira preencher os dados de sua conta bancaria onde
    recebera o credito em até 1 dia util.
   </span>
  </app-accordion>
  <app-accordion id="hq5">
   <span class="title">
    Qual taxa de juros a FiberCash trabalha?
   </span>
   <span class="text">
    Pensando em você, nos trabalhamos com a menor taxa do mercado!
    <br /><br />
    Taxa fixa de 0.99% ao mês!
    <br /><br />
    Isso mesmo, não tem segredo e nem taxa mais alta de acordo com perfil do
    usuário. Aqui a taxa é fixa e ponto final!
   </span>
  </app-accordion>
  <app-accordion id="hq6">
   <span class="title">
    Como consigo entrar em contato?
   </span>
   <span class="text">
    Você escolhe:
    <br /><br />
    Por WhatsApp clicando no ícone do WhatsApp que fica no canto aqui do lado
    direito ou mandando uma mensagem para o numero (11) 9 6929-6244.
    <br /><br />
    Por telefone discando para 4003-1637.
    <br /><br />
    Por email no
    <a href="mailto: fale@fibercash.com.br" class="__cf_email__">
     fale@fibercash.com.br
    </a>
    <br /><br />
    Ou clicando em “Contato” no menu acima e enviando sua mensagem.
   </span>
  </app-accordion>
  <app-accordion id="hq7">
   <span class="title">
    Eu tenho mais de um cartão de credito! Posso solicitar o saque de cada um?
   </span>
   <span class="text">
    Claro! Basta você efetuar o processo de saque um cartão por vez!
   </span>
  </app-accordion>
  <app-accordion id="hq8">
   <span class="title">
    Há alguma taxa adicional alem dos juros?
   </span>
   <span class="text">
    Sim, como em qualquer outra operação financeira você deve pagar IOF (Imposto
    sobre Operações Financeiras), e também incluímos custo de adquirência,
    assinatura de contrato, e IGP-M sobre o valor do credito (Índice Geral de
    Preços do Mercado).
    <br /><br />
    Isso nos garante ter o melhor valor de credito do mercado! Simule e confira!
   </span>
  </app-accordion>
  <app-accordion id="hq9">
   <span class="title">
    Posso usar a FiberCash para pagar contas?
   </span>
   <span class="text">
    Recomendamos super isso! Você saca o dinheiro pagando o juros mais baixo do
    mercado conosco, e depois ao receber o dinheiro na sua conta bancaria em 1
    dia util, você pode usa-lo para pagar boletos, e até mesmo a própria fatura
    do cartão de credito!
   </span>
  </app-accordion>
  <app-accordion id="hq10">
   <span class="title">
    Qual a diferença entre usar a FiberCash e sacar o limite do meu cartão no
    caixa eletrônico?
   </span>
   <span class="text">
    Bom, essa ta fácil de responder!
    <br /><br />
    Primeiro que na Fiber você saca e paga em 12x. Segundo que nossa taxa de
    0.99% ao mes é extremamente mais baixa que as taxas rotativas dos cartões de
    credito que sao as mais altas do mercado, chegando até 20% ao mês. E
    terceiro que na Fiber seu limite de saque é mais alto do que o limite que o
    cartão deixa você sacar no caixa eletrônico. Sem falar na facilidade de
    receber esse valor sem sair de casa.
   </span>
  </app-accordion>
  <app-accordion id="hq11">
   <span class="title">
    Posso sacar o valor do cartão de credito da minha mãe porem receber na minha
    conta bancaria?
   </span>
   <span class="text">
    Infelizmente não! Temos de seguir regras estritas de segurança do BACEN
    (Banco Central) e infelizmente podemos apenas depositar o valor do saque na
    conta do proprietário do cartão de credito. Do contrario temos de cancelar
    seu pedido.
   </span>
  </app-accordion>
  <app-accordion id="hq12">
   <span class="title">
    Como funciona o parcelamento? Como eu pago?
   </span>
   <span class="text">
    O parcelamento sera direto na fatura do seu cartão de credito. E basta você
    pagar a fatura como normalmente paga que estava tudo ok.
   </span>
  </app-accordion>
  <app-accordion id="hq13">
   <span class="title">
    Caso eu atrase o pagamento do parcelamento, o que ira acontecer?
   </span>
   <span class="text">
    Importante dizer que a Fiber não ira cobrar de você pelo pagamento das
    parcelas. As parcelas serão debitadas em seu cartão de credito, e sendo
    assim, irão vir na fatura do seu cartão de credito como qualquer outra
    despesa.
    <br /><br />
    Caso você atrase o pagamento da sua fatura do cartão, você estará sujeito
    aos termos e condições do banco emissor do seu cartão.
   </span>
  </app-accordion>
  <app-accordion id="hq14">
   <span class="title">
    Posso usar a FiberCash para pagar a fatura do meu cartão de credito?
   </span>
   <span class="text">
    Sim! Basta solicitar o saque e receber o valor em 1 dia util na sua conta
    bancaria, para após isso pagar a fatura do seu cartão de credito.
   </span>
  </app-accordion>
  <app-accordion id="hq15">
   <span class="title">
    A FiberCash faz analise de credito pessoal?
   </span>
   <span class="text">
    Não! Para Fiber basta você ter um cartão de credito e uma conta bancaria em
    seu nome que estaremos aqui para ajuda-lo.
   </span>
  </app-accordion>
  <app-accordion id="hq16">
   <span class="title">
    Estou negativado mas tenho um cartão de credito, posso usar a FiberCash?
   </span>
   <span class="text">
    Inclusive recomendamos você utilizar a Fiber que cobra juros muito baixo
    para quitar aquelas dividas com juros abusivos e quem sabe ate limpar seu
    nome
   </span>
  </app-accordion>
  <app-accordion id="hq17">
   <span class="title">
    Como vocês conseguem cobrar tão baixo pelo saque?
   </span>
   <span class="text">
    Simples! Assim como vocês estamos cansados dos juros abusivos e por isso
    achamos justo ser justos!
    <br /><br />
    Nos respeitamos nossos clientes e temos certeza que muitos outros poderiam
    seguir nosso caminho!
   </span>
  </app-accordion>
  <app-accordion id="hq18">
   <span class="title">
    Meu cartão foi recusado, o que devo fazer?
   </span>
   <span class="text">
    Pena! Verifique se seu cartão de credito tem limite para saque ou ligue para
    o banco emissor de seu cartão e tente novamente.
   </span>
  </app-accordion>
  <app-accordion id="hq19">
   <span class="title">
    Meu cartão de credito esta seguro na FiberCash?
   </span>
   <span class="text">
    Claro! Trabalhamos com o mais modernos protocolos de segurança e
    criptografia!
    <br /><br />
    Sua segurança e privacidade é nossa prioridade!
   </span>
  </app-accordion>
  <app-accordion id="hq20">
   <span class="title">
    Recebi uma ligação da FiberCash pedindo dados do meu cartão de credito, o
    que devo fazer?
   </span>
   <span class="text">
    Não forneça de forma alguma! A Fiber não liga pedindo dados de cartão de
    credito!
   </span>
  </app-accordion>
  <app-accordion id="hq21">
   <span class="title">
    Como consigo entrar em contato?
   </span>
   <span class="text">
    Você escolhe:
    <br /><br />
    Por WhatsApp clicando no ícone do WhatsApp que fica no canto aqui do lado
    direito ou pelo numero (11) 9 6929-6244
    <br /><br />
    Por telefone discando para 4003-1637.
    <br /><br />
    Por email no
    <a href="mailto: fale@fibercash.com.br" class="__cf_email__"
     >fale@fibercash.com.br</a
    >
    <br /><br />
    Ou clicando em “Contato” no menu acima e enviando sua mensagem.
   </span>
  </app-accordion>
 </section>
 <section class="py-2 px-2">
  <header class="items.header py-2">
   <h5 class="items.smalltitle text-center font-bold">
    Meus Pedidos
   </h5>
  </header>
  <app-accordion id="hq22">
   <span class="title">
    Solicitei um saque e tive meu cartão recusado, o que devo fazer?
   </span>
   <span class="text">
    Pena! Verifique se seu cartão de credito tem limite para saque ou ligue para
    o banco emissor de seu cartão e tente novamente.
   </span>
  </app-accordion>
  <app-accordion id="hq23">
   <span class="title">
    O que devo fazer após ter meu pedido aprovado?
   </span>
   <span class="text">
    Você deve informar os dados bancários para que possamos efetuar o credito na
    sua conta em ate 1 dia util.
   </span>
  </app-accordion>
  <app-accordion id="hq24">
   <span class="title">
    Ja informei os dados bancários, porem não consegui assinar o contrato, como
    devo prosseguir?
   </span>
   <span class="text">
    Entre em contato conosco para que possamos auxiliar:
    <br /><br />
    Por WhatsApp clicando no ícone do WhatsApp que fica no canto aqui do lado
    direito ou pelo numero (11) 9 6929-6244
    <br /><br />
    Por telefone discando para 4003-1637.
    <br /><br />
    Por email no
    <a href="mailto: fale@fibercash.com.br" class="__cf_email__">
     fale@fibercash.com.br
    </a>
    <br /><br />
    Ou clicando em “Contato” no menu acima e enviando sua mensagem.
   </span>
  </app-accordion>
  <app-accordion id="hq25">
   <span class="title">
    Não consigo enviar os meus documentos, como devo prosseguir?
   </span>
   <span class="text">
    Entre em contato conosco para que possamos auxiliar:
    <br /><br />
    Por WhatsApp clicando no ícone do WhatsApp que fica no canto aqui do lado
    direito ou pelo numero (11) 9 6929-6244
    <br /><br />
    Por telefone discando para 4003-1637.
    <br /><br />
    Por email no
    <a href="mailto: fale@fibercash.com.br" class="__cf_email__">
     fale@fibercash.com.br
    </a>
    <br /><br />
    Ou clicando em “Contato” no menu acima e enviando sua mensagem.
   </span>
  </app-accordion>
  <app-accordion id="hq26">
   <span class="title">
    Estou com problemas para confirmar meus dados bancários e tudo mais, o que
    devo fazer?
   </span>
   <span class="text">
    Entre em contato conosco para que possamos auxiliar:
    <br /><br />
    Por WhatsApp clicando no ícone do WhatsApp que fica no canto aqui do lado
    direito ou pelo numero (11) 9 6929-6244
    <br /><br />
    Por telefone discando para 4003-1637.
    <br /><br />
    Por email no
    <a href="mailto: fale@fibercash.com.br" class="__cf_email__">
     fale@fibercash.com.br
    </a>
    <br /><br />
    Ou clicando em “Contato” no menu acima e enviando sua mensagem.
   </span>
  </app-accordion>
 </section>
 <section class="py-2 px-2">
  <header class="items.header py-2">
   <h5 class="items.smalltitle text-center font-bold">
    Sua Conta
   </h5>
  </header>
  <app-accordion id="hq27">
   <span class="title">
    Como faço para recuperar minha senha?
   </span>
   <span class="text">
    Clique no link a seguir e preencha seu email para receber por email um link
    para criar uma nova senha:
    <a href="https://app.fibercash.com.br/redefinir-senha" target="_blank"
     >https://app.fibercash.com.br/redefinir-senha</a
    >
   </span>
  </app-accordion>
  <app-accordion id="hq28">
   <span class="title">
    Perdi o acesso ao meu email e não consigo recuperar minha senha, como devo
    prosseguir?
   </span>
   <span class="text">
    Entre em contato conosco para que possamos ajudar.
   </span>
  </app-accordion>
  <app-accordion id="hq29">
   <span class="title">
    Consigo cancelar minha conta?
   </span>
   <span class="text">
    Sim! Basta entrar em contato conosco através do formulário de contato.
   </span>
  </app-accordion>
 </section>
 <section class="py-2 px-2">
  <header class="items.header py-2">
   <h5 class="items.smalltitle text-center font-bold">
    Não consegue encontrar o que procura?
   </h5>
  </header>
  <button
   (click)="showModal('contato')"
   class="items.cta block w-full font-bold mx-auto"
  >
   Entre em contato <i class="fa fa-chevron-right"></i>
  </button>
 </section>
</section>
