<header class="header lg:w-10/12 mx-auto">
  <app-menu id="normalmenu"></app-menu>
  <section class="header.text container mx-auto">
    <h4
      class="header.text__h4 md:text-center text-left xl:w-7/12 lg:w-11/12 w-11/12 mx-auto font-bold py-2"
    >
      Dinheiro rápido na sua conta direto do limite do seu cartão de credito
      pagando em até 12x.
    </h4>
    <p class="header.text__p md:text-center lg:w-7/12 w-11/12 mx-auto py-4">
      Saque de <b>R$ 500,00</b> a <b>R$ 20.000,00</b> e receba em até
      <b>1 dia útil.</b>
      Juros simples de 0.99% ao mês, o menor do mercado garantido,
      <b>simule e comprove!</b>
    </p>
  </section>
  <app-search></app-search>
  <section class="container mx-auto md:py-auto py-2">
    <section
      class="xl:w-5/12 lg:w-9/12 w-10/12 mx-auto flex flex-wrap justify-between md:py-8 py-2"
    >
      <figure class="header.icons md:w-auto w-3/12px-4">
        <img
          class="header.icons__imgs"
          src="assets/images/header-logo-icon-1.png"
          alt="Clicksign"
        />
      </figure>
      <figure class="header.icons md:w-auto w-3/12px-4">
        <img
          class="header.icons__imgs"
          src="assets/images/header-logo-icon-2.png"
          alt="Digicert"
        />
      </figure>
      <figure class="header.icons md:w-auto w-3/12px-4">
        <img
          class="header.icons__imgs"
          src="assets/images/header-logo-icon-3.png"
          alt="site 100% seguro"
        />
      </figure>
      <figure class="header.icons md:w-auto w-3/12px-4">
        <img
          class="header.icons__imgs"
          src="assets/images/header-logo-icon-4.png"
          alt="Google Safe Browser"
        />
      </figure>
    </section>
  </section>
</header>
<section class="header.fixed">
  <app-menu id="fixedmenu" isfixed="true"></app-menu>
</section>
