<header class="header w-full">
  <section class="header.content lg:w-10/12 mx-auto">
    <app-menu id="normalmenu"></app-menu>
    <section class="header.text container mx-auto">
      <h4
        class="header.text__h4 text-left xl:w-7/12 lg:w-11/12 w-11/12 mx-auto font-bold py-2"
      >
        Dinheiro rápido na sua conta
      </h4>
      <p
        class="header.text__p text-left xl:w-7/12 lg:w-11/12 w-11/12 mx-auto pb-8"
      >
        Solicite seu empréstimo utilizando o limite <b>disponível</b> do seu
        cartão de crédito e receba em até 1 dia útil.
      </p>
    </section>
    <app-search></app-search>
    <section class="container mx-auto md:py-auto py-2">
      <section
        class="xl:w-3/12 lg:w-6/12 w-10/12 mx-auto flex flex-wrap justify-between items-center md:py-8 py-2"
      >
        <figure class="header.icons md:w-auto sm:w-4/12 w-4/12 sm:px-4">
          <img
            class="header.icons__imgs mx-auto"
            src="assets/images/header-logo-icon-1.png"
            alt="Clicksign"
          />
        </figure>
        <figure class="header.icons md:w-auto sm:w-4/12 w-4/12 sm:px-4">
          <img
            class="header.icons__imgs mx-auto"
            src="assets/images/header-logo-icon-2.png"
            alt="Digicert"
          />
        </figure>
        <figure class="header.icons md:w-auto sm:w-4/12 w-4/12 sm:px-4">
          <img
            class="header.icons__imgs mx-auto"
            src="assets/images/header-logo-icon-3.png"
            alt="site 100% seguro"
          />
        </figure>
      </section>
    </section>
  </section>
</header>
<section class="header.fixed">
  <app-menu id="fixedmenu" isfixed="true"></app-menu>
</section>
