.helpPage {
  min-height: 100vh;
  background-image: url("../../../../assets/images/bg-howWork.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.helpPage\.fixed {
  position: fixed;
  top: -300px;
  left: 0;
  width: 100%;
  background-color: var(--color-blue);
  z-index: 999;
  transition: all ease 220ms;
  box-shadow: 0 4px 8px #333333;
}

.helpPage\.fixed.is-active {
  top: 0;
}