<section class="howWork w-full">
  <section class="container mx-auto py-12">
    <header class="mx-auto xl:w-7/12 lg:w-10/12 w-11/12 py-8">
      <h2 class="howWork.title text-center font-bold">
        Como Funciona?
      </h2>
      <p class="howWork.text text-center">
        A Credico usa a modalidade de saque atrelado ao seu cartão de crédito,
        utilizando o limite disponível como garantia. Dessa forma, o pagamento
        das parcelas é feito através de sua fatura.
      </p>
    </header>
    <section
      class="flex flex-wrap xl:w-7/12 lg:w-10/12 mx-auto items-start py-8"
    >
      <figure class="lg:w-6/12 howWork.woman md:block hidden">
        <img
          class="howWork.woman__image mx-auto"
          src="../../../assets/images/how-works.jpg"
          alt=""
        />
      </figure>
      <blockquote class="lg:w-6/12 w-11/12 md:mx-none mx-auto px-4">
        <div class="howWork.blockquote__line py-3 px-4">
          <span class="howWork.sup font-bold text-center">
            1
          </span>
          <p class="howWork.blockquote__title font-bold px-4">
            Simule sem compromisso
          </p>
          <p class="howWork.blockquote__text px-4">
            Faça uma simulação sem compromisso com o valor que você necessita,
            considerando o limite do seu cartão de crédito
          </p>
        </div>
        <div class="howWork.blockquote__line py-3 px-4">
          <span class="howWork.sup font-bold text-center">
            2
          </span>
          <p class="howWork.blockquote__title font-bold px-4">
            Faça seu cadastro
          </p>
          <p class="howWork.blockquote__text px-4">
            Faça o cadastro no nosso site para receber o valor que você
            solicitou na simulação
          </p>
        </div>
        <div class="howWork.blockquote__line py-3 px-4">
          <span class="howWork.sup font-bold text-center">
            3
          </span>
          <p class="howWork.blockquote__title font-bold px-4">
            Receba o dinheiro na sua conta
          </p>
          <p class="howWork.blockquote__text px-4">
            Assim que o seu cadastro estiver completo, você recebe o dinheiro,
            em até 1 dia útil na sua conta corrente
          </p>
        </div>
        <button
          (click)="redirect(0)"
          class="howWork.cta font-bold sm:block hidden"
        >
          Quero começar
        </button>
        <button
          (click)="redirect(0)"
          class="howWork.cta font-bold w-full sm:hidden"
        >
          Quero começar
        </button>
      </blockquote>
    </section>
  </section>
</section>
