<section class="howWork w-full">
  <section class="container mx-auto">
    <header class="mx-auto xl:w-7/12 lg:w-10/12 w-11/12 py-8">
      <h2 class="howWork.title text-center font-bold">
        Como Funcional?
      </h2>
      <p class="howWork.text text-center">
        A fiber usa uma modalidade de saque atrelado ao seu cartão de crédito,
        utilizando o limite disponível como garantia, e o pagamento das parcelas
        é feito através da sua fatura.
      </p>
    </header>
    <section
      class="flex flex-wrap xl:w-7/12 lg:w-10/12 mx-auto items-start py-8"
    >
      <figure class="lg:w-6/12 howWork.woman md:block hidden">
        <img
          class="howWork.woman__image mx-auto"
          src="../../../assets/images/woman.png"
          alt=""
        />
      </figure>
      <blockquote class="lg:w-6/12 w-11/12 md:mx-none mx-auto px-4">
        <div class="howWork.blockquote__line py-3 px-4">
          <span class="howWork.sup font-bold">
            1
          </span>
          <p class="howWork.blockquote__title font-bold px-4">
            Simule o valor desejado
          </p>
          <p class="howWork.blockquote__text px-4">
            Simule acima sem compromisso quanto deseja receber na sua conta
            usando seu cartão de credito
          </p>
        </div>
        <div class="howWork.blockquote__line py-3 px-4">
          <span class="howWork.sup font-bold">
            2
          </span>
          <p class="howWork.blockquote__title font-bold px-4">
            Dinheiro na sua conta
          </p>
          <p class="howWork.blockquote__text px-4">
            Assim que aprovarmos sua documentação, o valor estará disponível em
            até 1 dia util
          </p>
        </div>
        <div class="howWork.blockquote__line py-3 px-4">
          <span class="howWork.sup font-bold">
            3
          </span>
          <p class="howWork.blockquote__title font-bold px-4">
            Simule o valor desejado
          </p>
          <p class="howWork.blockquote__text px-4">
            Simule acima sem compromisso quanto deseja receber na sua conta
            usando seu cartão de credito
          </p>
        </div>
        <button
          (click)="redirect(0)"
          class="howWork.cta font-bold sm:block hidden"
        >
          Faça uma simulação
          <i class="fa fa-chevron-right howWork.cta__icons"></i>
        </button>
        <button
          (click)="redirect(0)"
          class="howWork.cta font-bold w-full sm:hidden"
        >
          Simular
          <i class="fa fa-chevron-right howWork.cta__icons"></i>
        </button>
      </blockquote>
    </section>
  </section>
</section>
