.howWork {
  background-color: #ffffff;
}

.howWork\.title {
  font-size: var(--title-h4);
  color: var(--color-gray);
}

.howWork\.text {
  font-size: var(--text-default);
}

.howWork\.woman__image {
  max-width: 95%;
}

.howWork\.blockquote__title {
  color: var(--color-gray);
  font-size: var(--text-p);
}

.howWork\.blockquote__line {
  position: relative;
  min-height: 100px;
}

.howWork\.blockquote__line:not(:nth-child(3)):before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--color-orange-light);
  position: absolute;
  left: 5px;
  top: 25px;
}

.howWork\.blockquote__text {
  font-size: var(--text-disclaimer);
}

.howWork\.sup {
  height: 30px;
  line-height: 30px;
  width: 30px;
  font-size: var(--text-p);
  border-radius: 3px;
  background-color: var(--color-orange-light);
  position: absolute;
  left: -10px;
  top: 0;
  color: var(--color-orange);
}

.howWork\.cta {
  background-color: var(--color-aquamarine);
  border-radius: 6px;
  position: relative;
  padding: 14px 50px;
  margin-top: 60px;
  font-size: var(--text-cta);
  color: #ffffff;
}

.howWork\.cta__icons {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}

@media only screen and (max-width: 640px) {
  .howWork\.title {
    font-size: var(--title-smll-h4);
  }

  .howWork\.text {
    font-size: var(--text-smll-default);
  }

  .howWork\.blockquote__line:not(:nth-child(3)):before {
    height: 100%;
    top: 30px;
    bottom: initial;
  }

  .howWork\.cta {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
