<section class="depoiments">
  <section class="container py-12 mx-auto">
    <section class="xl:w-7/12 lg:w-10/12 mx-auto flex flex-wrap">
      <section class="lg:w-4/12 w-4/12 md:px-0 px-2 items-start flex flex-wrap">
        <figure class="xl:w-3/12 lg:w-3/12 w-full depoiments.icons">
          <img
            class="depoiments.icons__images mx-auto"
            src="../../../assets/images/icon-depoiments.png"
            alt=""
          />
        </figure>
        <section class="xl:w-9/12 lg:w-9/12">
          <p class="depoiments.feature__big font-bold md:block hidden">
            + de R$ 260 milhões
          </p>
          <p class="depoiments.feature font-normal md:block hidden">
            em propostas recebidas
          </p>
          <p
            class="depoiments.feature font-normal text-center py-2 md:hidden block"
          >
            + de R$ 260 milhões em propostas recebidas
          </p>
        </section>
      </section>
      <section
        class="lg:w-4/12 w-4/12 md:px-0 px-2 flex flex-wrap items-center"
      >
        <figure class="xl:w-3/12 lg:w-3/12 w-full depoiments.icons">
          <img
            class="depoiments.icons__images mx-auto"
            src="../../../assets/images/icon-depoiments-2.png"
            alt=""
          />
        </figure>
        <section class="xl:w-9/12 lg:w-9/12">
          <p class="depoiments.feature__big font-bold md:block hidden">
            + de 70 mil
          </p>
          <p class="depoiments.feature font-normal md:block hidden">
            clientes cadastrados
          </p>
          <p
            class="depoiments.feature font-normal py-2 text-center md:hidden block"
          >
            + de 70 mil clientes cadastrados
          </p>
        </section>
      </section>
      <section
        class="lg:w-4/12 w-4/12 md:px-0 px-2 flex flex-wrap items-center"
      >
        <figure class="xl:w-3/12 lg:w-3/12 w-full depoiments.icons">
          <img
            class="depoiments.icons__images mx-auto"
            src="../../../assets/images/icon-depoiments-3.png"
            alt=""
          />
        </figure>
        <section class="xl:w-9/12 lg:w-9/12 font-bold">
          <p class="depoiments.feature__big font-bold md:block hidden">
            + de R$ 110 milhões
          </p>
          <p class="depoiments.feature font-normal md:block hidden is-last">
            de créditos originados
          </p>
          <p
            class="depoiments.feature font-normal text-center py-2 md:hidden block is-last"
          >
            + de R$ 110 milhões de créditos originados
          </p>
        </section>
      </section>
    </section>
    <section class="xl:w-7/12 lg:w-10/12 mx-auto py-4 depoiments.carousel">
      <header class="py-12">
        <h2 class="depoiments.title text-center font-bold">
          Nossos Clientes
        </h2>
      </header>
      <app-carosel
        id="depoimentsImages"
        itemsByPages="3"
        centerTarget="2"
        prevTrigger="#prev"
        nextTrigger="#next"
      >
        <div class="depoiments.slides text-center">
          <section class="lg:w-10/12 mx-auto">
            <figure class="depoiments.canvas mx-auto">
              <img
                class="depoiments.canvas__images"
                src="../../../assets/images/p1.jpg"
                alt=""
              />
            </figure>
          </section>
        </div>
        <div class="depoiments.slides text-center">
          <section class="lg:w-10/12 mx-auto">
            <figure class="depoiments.canvas mx-auto">
              <img
                class="depoiments.canvas__images"
                src="../../../assets/images/p2.jpg"
                alt=""
              />
            </figure>
          </section>
        </div>
        <div class="depoiments.slides text-center">
          <section class="lg:w-10/12 mx-auto">
            <figure class="depoiments.canvas mx-auto">
              <img
                class="depoiments.canvas__images"
                src="../../../assets/images/p4.jpg"
                alt=""
              />
            </figure>
          </section>
        </div>
        <div class="depoiments.slides text-center">
          <section class="lg:w-10/12 mx-auto">
            <figure class="depoiments.canvas mx-auto">
              <img
                class="depoiments.canvas__images"
                src="../../../assets/images/p5.jpg"
                alt=""
              />
            </figure>
          </section>
        </div>
        <div class="depoiments.slides text-center">
          <section class="lg:w-10/12 mx-auto">
            <figure class="depoiments.canvas mx-auto">
              <img
                class="depoiments.canvas__images"
                src="../../../assets/images/p7.jpg"
                alt=""
              />
            </figure>
          </section>
        </div>
      </app-carosel>
      <app-carosel
        id="depoimentsTestimonial"
        itemsByPages="1"
        centerTarget="1"
        prevTrigger="#prev"
        nextTrigger="#next"
      >
        <div class="depoiments.testimonial">
          <section class="lg:w-6/12 w-8/12 mx-auto">
            <h3 class="depoiments.name font-bold text-center py-8">
              Rodrigo Cunha Neto
            </h3>
            <p class="depoiments.text text-center">
              “Pesquisei diversos sites a melhor solução de crédito, e é
              inacreditável como na fiber as taxas sao as mais baixas do
              mercado! O serviço é extremamente simples e rápido, e em 1 dia eu
              ja tinha o dinheiro para quitar minhas dividas”
            </p>
          </section>
        </div>
        <div class="depoiments.testimonial">
          <section class="lg:w-6/12 w-8/12 mx-auto">
            <h3 class="depoiments.name font-bold text-center py-8">
              Jefferson Machado
            </h3>
            <p class="depoiments.text text-center">
              “Realmente a melhor solução de credito do mercado! As taxas sao
              extremamente baixas e justas! Nao entendo porque os bancos e
              outros sites nao conseguem fazer o que a fiber faz! Espetacular!
              Super recomendo!”
            </p>
          </section>
        </div>
        <div class="depoiments.testimonial">
          <section class="lg:w-6/12 w-8/12 mx-auto">
            <h3 class="depoiments.name font-bold text-center py-8">
              Ana Lucia Quaresma
            </h3>
            <p class="depoiments.text text-center">
              “Me pergunto como não conheci a fiber antes? Costumava pedir
              dinheiro em banco e me saia uma fortuna! Na fiber nao importa se
              você esta negativado, basta ter um cartão de credito com limite e
              pronto! Em 1 dia você tem o dinheiro para fazer o que precisa!”
            </p>
          </section>
        </div>
        <div class="depoiments.testimonial">
          <section class="lg:w-6/12 w-8/12 mx-auto">
            <h3 class="depoiments.name font-bold text-center py-8">
              Joao Felipe Caldas
            </h3>
            <p class="depoiments.text text-center">
              “Precisei de capital rápido e encontrei a fiber! Sorte a minha! Ja
              indiquei a amigos e recomendo muito. Credito justo com taxas
              justas sem cobranças abusivas, rápido, seguro, perfeito!”
            </p>
          </section>
        </div>
        <div class="depoiments.testimonial">
          <section class="lg:w-6/12 w-8/12 mx-auto">
            <h3 class="depoiments.name font-bold text-center py-8">
              Cristiane Morozina
            </h3>
            <p class="depoiments.text text-center">
              “A fiber parece que foi feita por pessoas de bem para pessoas de
              bem, parabéns! É muito simples e confiavél! Com meu cartão de
              credito saquei em instantes o valor do meu limite e recebi em 1
              dia na minha conta bancaria! Recomendo muito mesmo!”
            </p>
          </section>
        </div>
      </app-carosel>
      <button id="prev" class="depoiments.controls depoiments.controls-prev">
        <i class="fa fa-chevron-left"></i>
      </button>
      <button id="next" class="depoiments.controls depoiments.controls-next">
        <i class="fa fa-chevron-right"></i>
      </button>
      <button
        (click)="redirect(0)"
        class="depoiments.cta my-12 mx-auto font-bold md:block hidden"
      >
        Faça uma simulação <i class="fa fa-chevron-right"></i>
      </button>
      <button
        (click)="redirect(0)"
        class="depoiments.cta my-4 mx-auto font-bold md:hidden block"
      >
        Simular <i class="fa fa-chevron-right"></i>
      </button>
    </section>
  </section>
</section>
