.menu\.brand img {
  max-width: 190px;
}

.menu\.item__button {
  background-color: #ffffff;
  border-radius: 8px;
  transition: ease all 220ms;
}

.menu\.item__button.is-fixed {
  background-color: #ffffff;
}

.menu\.item__button:hover {
  background-color: var(--color-orange);
}

.menu\.item__a span {
  font-size: var(--menu-fz);
  color: #ffffff;
  font-weight: bold;
}

.menu\.item__button:hover span {
  color: #ffffff;
}

.menu\.item__button span {
  color: var(--color-orange);
}

.menu\.item__a.is-helpMod span {
  color: var(--color-orange);
}

.menu\.item__button .menu\.item__a.is-helpMod span {
  color: var(--color-orange);
}

.menu\.item__button.is-fixed .menu\.item__a span {
  color: var(--color-orange);
}

.menu\.toggle {
  color: #ffffff;
  font-size: var(--title-smll-h4);
  border: solid 2px #ffffff;
  border-radius: 8px;
  padding: 0 8px;
}

.menu\.toggle.is-helpMod {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

@media only screen and (max-width: 640px) {
  .menu\.links {
    position: fixed;
    right: -100%;
    width: 70%;
    height: 100vh;
    top: 0;
    background: linear-gradient(208.07deg, #ff8700, #ff500f);
    transition: ease 220ms right;
    z-index: 9999;
  }

  .menu\.item__button {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }

  .menu\.brand img {
    max-width: 100%;
  }

  .menu\.links.is-active {
    right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .menu:not(.is-fixed) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }
}
